.wrap
  .contain
  .btn
    input.email(type="text" placeholder ="example@gmail.com")
    input.submit(type="submit" value="查詢")
  .result
    h6#done 查詢結果：
    p#name 
    p#time 
  .total


.mask
  .mask_in
    .loader
      img(src="https://cdn.dribbble.com/users/702004/screenshots/2834791/material-loader.gif", alt="")